page-read {

    .boutons{display:block}
    .list{display:block}

    ion-card{
        img{
          max-width: 68px;
          max-height: 51px;
        }
    }

    button {
        display: block;
        margin: 0 auto;
    }

}
