page-read {
    
    ion-card{
        img{
          max-width: 68px;
          max-height: 51px;
        }
    }

    button {
        display: block;
        margin: auto;
    }

    .story{
        position:relative;
        margin-top:0px;
        
    }

    height: 100%;
    padding:1px;
}
