page-read {
    
    ion-card{
        img{
          max-width: 68px;
          max-height: 51px;
        }
    }

    .button {
        display: block;
        width:100%;
        overflow-wrap: break-word;
        white-space: pre-line;
        word-break: break-all;
        height:auto;
        padding: 10px;
    }

}
