<ion-header>
  <ion-toolbar>
    <ion-title>Les histoires publiées</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="doLogout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
        <button ion-button icon-only color="primary" (click)="openFiltering()">
              <ion-icon name="arrow-down"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>

  <ion-item *ngIf="filterOpened" > 
    <ion-label>Catégories :</ion-label>
    <ion-select  [(ngModel)]="selected" name="Catégories" okText="Selectionner" cancelText="Annuler" (ionChange)="filterByCategory(this.selected)">
      <ion-option *ngFor="let category of categories" [value]="category.label">{{category.label}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-toolbar *ngIf="filterOpened" >
    <ion-searchbar placeholder="Rechercher une histoire" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let story  of stories  ">

    <ion-card-header class = "title">
      <b>{{ story.title }}</b>
    </ion-card-header>
  
    <hr>

    <ion-item>
      <ion-avatar item-start>
        <img src= {{story.authorPicture}}>
      </ion-avatar>
      <h2>Auteur : {{story.authorName}}</h2>
      <p>Date de création : {{story.creationDate}}</p>
    </ion-item>

    <img src= {{story.cover}}>

    <ion-card-content>
      <p>{{ story.abstract }}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>0 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>0 Comments</div>
        </button>
      </ion-col>
    </ion-row>  

    <hr>


    <ion-item *ngIf="!story.mark" >
      <button color="dark" class = "button" ion-button (click)="read(story.id)">Lire</button>  
    </ion-item>

    <ion-item style = "text-align:center" *ngIf="story.mark" >
      <button color="dark" class = "button-inline" ion-button (click)="read(story.id)">Continuer</button>  
      <button color="dark" class = "button-inline" ion-button (click)="read(story.id)">Recommencer</button>  
    </ion-item>

  </ion-card>
  
</ion-content>



